.collection-section {
    padding: 70px 0 50px;
}
.collection {
    h2{
        font-family: "Roboto",sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 58.59px;
        text-align: center;
        color: #000;
        margin-bottom: 80px;
    }
}
.collection__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection__item {
    display: flex;
    align-items: center;
    gap: 117px;
}
.collection__text {
    width:320px;
    p{
        @include cp()
    }
    h3{
        font-family: "Roboto",sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 56.25px;
        text-align: left;
        color: #333;
        margin-bottom: 10px;
    }
}
.collection__text1 {
    width: 453px;
    p{
        @include cp()
    }
    h3{
        font-family: "Roboto",sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 56.25px;
        text-align: left;
        color: #333;
        margin-bottom: 10px;
    }
}
.collection__text4 {
    width: 410px;
    p{
        @include cp()
    }
    h3{
        font-family: "Roboto",sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 56.25px;
        text-align: left;
        color: #333;
        margin-bottom: 10px;
    }
}
