.site-header {
    padding: 30px;
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar__item a{
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    transition: all 0.4s linear;
    z-index: 2;

    &:hover{
        color: white;
    }
}
